.ranking_container {
  float: right;
  box-sizing: border-box;
  width: 200px;
  height: 350px;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #cdcdcd;

  .ranking_title {
    font-size: 20px;
  }
}

.ranking_list {
  margin: 50px 0;

  .ranking_item {
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;

    &:first-child {
      font-weight: bold;
    }
  }
}
